* {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: #F0F0F0;
    padding: 10px 50px;
    box-shadow: 0px 15px 10px -17px #111;
}

button {
    border: 0ch;
    background: none;
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

button img {
    height: inherit;
    width: 30px;
    margin: 1px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidepanel {
    margin-top: 54px;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0px 10px 10px 0px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    float: left;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding-left: 50px;
}

.openbtn:hover {
    background-color: #444;
}

.dropdown {
    margin-top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a4e2ed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px;
    right: 10px;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav div {
    float: right;
}
.mainCls{
    margin: 50px 100px 50px 100px;
    background-color: rgba(135, 206, 250, 0.394);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: 1px solid lightgray;
}
.mainCls div{
    margin: 30px;
    width: 30%;
    background-color: #81818125;
    border:1px solid #818181;
    border-radius: 10px;
    contain: content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainCls .article,
.mainCls .review,
.mainCls .form2,
.mainCls .audio{
    margin-left: 150px;
}
.mainCls h1{
    text-align: center;
    border-radius:10px 10px 0px 0px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: blue;
}
.mainCls h2{
    text-align: center;
    margin: 20px;
}
.mainCls h4{
    margin-bottom: 10px;
    text-align: center;
    background-color: #111;
    color: #f0f0f0;
    padding: 10px;
}
.mainCls img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.mainCls textarea{
   border-radius: 10px;
}
.mainCls p{
    padding: 10px;
}
.form1{
    padding-bottom: 10px;
    height: 500px;
    position:absolute;
    right: 200px;
    top: 250px;
}
.pdf{
    position: absolute;
    top: 115vh;
    right: 200px;
    height: 400px;
}
.pdf iframe{
    height: inherit;
    width: 100%;
}
.mainCls .video{
    margin-left: 250px;
    margin-top: 150px;
    width: 500px;
    height: 500px;
}
.mainCls .video iframe{
    width: 100%;
    height: 400px;
}


